/* ... (Tus reglas existentes) ... */

/* --------------------------------- */
/* ANIMACIÓN Y EFECTOS PROFESIONALES */
/* --------------------------------- */
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(30, 132, 73, 0.3); /* Sombra más pronunciada y orgánica */
}

/* Estilo del botón principal de búsqueda */
.btn-primary-search {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
    transition: background-color 0.3s;
}

.btn-primary-search:hover {
    background-color: #156535;
    border-color: #156535;
}

/* Estilo de los filtros (botones secundarios) */
.filter-button {
    background-color: #ffffff;
    color: var(--color-text-dark);
    border: 1px solid #c8e6c9;
    transition: all 0.3s;
    font-weight: 500;
}

.filter-button:hover, .filter-button.active {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
}